body {
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #404040;
}

h1{
	color: #F2F2F2;
	text-align: center;
}

p{color: #F2F2F2;}

.bandeau{
	font-size:40px;
	background: blue;
	display:flex;
	flex-direction: row;
}

.logo{
	height: 50px;
	width:50px;
}

p{
	margin:0px;
	margin-left:10px;
}

/* ============================ PAGE D'ACCUEIL ============================*/

a{
	text-decoration: none;
	color: #A6A6A6;
}

a:hover{
	text-decoration: underline;

}

/* ============================ INDEX (CONNECTED) ============================*/
/*Bordure & Menu*/
.websiteInteractions{
	display: flex;
	flex-direction: row;
	border: 3px solid #F2F2F2;
	margin-left: auto;
	margin-right: auto;
}

.linkHomepage{
	margin: auto;
}

/* ============================ CONNEXION FORM ============================*/

.connexionForm{
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

/* ============================ INSCRIPTION FORM ============================*/

.inscriptionForm{
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

/* ============================ PUBLICATION ============================*/

input[type=textarea]{
	height: 75px;
	width: 500px;
}

.publication{
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	
	border: 3px solid #F2F2F2;
}

/* ============================ MESSAGES PRIVES============================*/

.destinataire{
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

/* ============================ style du profil: photo et infos à côté ============================*/

.profil{
	display:flex;
	flex-direction: row;
}

.photoprofil{
	height: 100px;
	width:100px;
}

.infoprofil{
	text-align: left;
	display:flex;
	flex-direction: column;
	
}

.pseudo{
	font-size: 50px;
	margin:0px;
}

.info{
	font-size: 20px;
	margin:0px;
}

/*style du bandeau qui permet d'en savoir plus sur le profil*/

.savoirplus{
	background-color: blue;
}

.boutonprofil{
	height: 20px;
	width:100px;
	background: blue;
}

/*style fil actualité avec publication : en haut auteur (photo + pseudo), le contenu puis en bas les likes et commentaires*/

.photo{
	height: 20px;
	width: 20px;
}

.fil{
	background-color: burlywood;
	
}

.publication{
	padding: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

.auteur{
	font-size:15px;
}

.date{
	font-size: 10px;
}

.contenu{
	font-size: 15px;
}

.reaction{
	margin:10px;
	display: flex;
	flex-direction: row;
}

.boutonpublication{
	height: 20px;
	width:200px;
}
		
